Feb 23 13:44:05 minnow kernel[0]: AirPort: Link Down on en0. Reason 8 (Disassociated because station leaving).
Feb 23 13:44:32 minnow kernel[0]: AirPort: Link Up on en0
Feb 23 13:44:32 minnow kernel[0]: AirPort: Link Up on en0
Feb 23 13:44:32 minnow kernel[0]: AirPort: Link Up on en0
Feb 23 13:44:05 minnow kernel[0]: AirPort: Link Down on en0. Reason 8 (Disassociated because station leaving).
Feb 23 13:44:05 minnow kernel[0]: AirPort: Link Down on en0. Reason 8 (Disassociated because station leaving).
Feb 23 13:44:32 minnow kernel[0]: AirPort: Link Up on en0
Feb 23 13:44:05 minnow kernel[0]: AirPort: Link Down on en0. Reason 8 (Disassociated because station leaving).
Feb 23 13:44:32 minnow kernel[0]: AirPort: Link Up on en0